.DS_Store
.env
.env.*
!.env.example

.venv/
.vscode/
__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

outputs/
external/
scripts/*
!scripts/import_tmdb_popular_movies.py
app/profile_images/

*.log
